body {
    background-image: url("1712548171056.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
pre{
    background-color: rgba(130, 1, 115, 0.989);
    color: white;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 130px auto;
    width: auto;
}
footer {
    background-color: rgba(130, 1, 115, 0.989);
    padding: 10px;
    text-align: center;
    margin-top: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}
p{
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: larger;
    margin-bottom: 10px;
}
td{
    border: 6px solid transparent;
    border-radius: 20%;
    height: 70px;
    background-color: antiquewhite;
    width: 200px;
    display: inline-block;
    margin-left: 60px;
    margin-right: 40px;
}
.FW{
    display: inline-block;
    text-align: center;
    color: orange;

}